@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<style>
    .col-md-4 {
        position: absolute;
        width: 30%;
        height: 40%;
        justify-content: center;
        align-items: center;
        margin-left: 28%;
        box-shadow: 0px 5px 10px 1px;
        border-radius: 10px;
    }
    .form-floating{
        top: 10px;
    }
    h1 {
        text-align: center;
        color: darkblue;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #registerSubmit {
        background-color: #5783db;
        border-radius: 15px;
        height: 30px;
        top: 30px;
        left: 34%;
        width: 30% !important;
        position: relative;
        text-align: center;
        line-height: 20px;
        padding: 0 20px;
    }
</style>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select asp-for="Input.Role" class="form-control" aria-required="true">
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                </select>
                <label asp-for="Input.Role"></label>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
